<turbo-frame id="turbo_request_order">
    <% #byebug %>
    <% if flash.notice %>
        <div id="flashNoticePerson" data-filter-target='requestNoticePerson' style="color: green"><%= flash.notice %></div>
    <% else %>
        <div id="flashNoticePerson" data-filter-target='requestNoticePerson' style="color: red"><%= flash.alert %></div>
    <% end %>
    <div>
      Please key in your full name.
    </div>
    <%= form_with url: stores_addperson_path, method: :post do |form| %>
      <%= form.hidden_field :id, value:"", :data => { :filter_target => 'requestPersonId1' } %>
      <% # form.text_area :name, size: "40x1", class:"hidden", :data => { :filter_target => 'addPersonName' }, autocomplete:"off" %>
      <%= form.text_area :name, size: "40x1", :data => { :filter_target => 'addPersonName', :action => "keyup->filter#checkExistingNames" }, autocomplete:"off" %>
      <p data-filter-target="personExistsMessage" class="hidden">This person is already present</p>
      <% # form.submit "New Person", hidden: :true, class:"m-2 bg-orange-600  rounded-full hover:bg-orange-400 text-white py-2 px-4", :data => { :filter_target => 'addPersonButton'} %>
      <%= form.submit "Add this Name", class:"hidden m-2 bg-orange-600  rounded-full hover:bg-orange-400 text-white py-2 px-4", :data => { :filter_target => 'addPersonButton'} %>
    <% end %>
    <button data-action="click->filter#backToPeople" class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back to People Selection</button>
  </turbo-frame>