<div id="brewster" class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div data-controller="brewster">
    <div id="outer container" class="flex">
      <section class="hidden w-2/12">
        <div data-action="click->brewster#findSelectedDrink" data-brewster-target="drinkTemplate" data-drink="drinkPlaceHolder" class="flex font-bold py-2 px-4 rounded">
          <div class="mx-1 w-5/6"></div>
          <div class="mx-1 w-1/6"></div>
        </div>
      </section>
      <section class="bg-indigo-900 w-3/12" data-brewster-target="drinkSection" data-show="">
        <h1 class="font-bold text-orange-600 text-2xl text-center">New Orders</h1>
        <div data-action="click->brewster#findSelectedDrink" data-brewster-target="drink" data-drink="Spacer" class="flex hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          <div class="mx-1 w-5/6"></div>
          <div class="mx-1 w-1/6"></div>
        </div>
      </section>
      
      <div id="right container" class="flex flex-col mr-2 w-10/12">
        <section class="flex justify-between m-2 w-full">
          <div class="flex items-center mb-2" data-brewster-target="statusSection" data-showStatus="new ready done">
            <h1 class="font-bold text-base mr-4">Show:</h1>
            <button data-action="click->brewster#getOrders"  class="hidden mx-2 bg-yellow-500 text-white font-bold py-2 px-4 rounded">Get Orders</button>
            <button data-action="click->brewster#showStatus" data-status="new"   data-brewster-target="showStatus" class="mx-2 bg-blue-500 text-white border-blue-500 border-2 font-bold py-2 px-4 rounded-full">New</button>
            <button data-action="click->brewster#showStatus" data-status="ready" data-brewster-target="showStatus" class="mx-2 bg-green-500 text-white border-green-500 border-2 font-bold py-2 px-4 rounded-full">Ready</button>
            <button data-action="click->brewster#showStatus" data-status="done"  data-brewster-target="showStatus" class="mx-2 bg-slate-500 text-white border-slate-500 border-2 font-bold py-2 px-4 rounded-full">Done</button>
          </div>
          <div class="flex items-center">
            <div class="bg-blue-300 px-2 border-white border-2 rounded-full"><%= link_to "Front", "front" %></div>
            <div class="bg-blue-300 px-2 border-white border-2 rounded-full"><%= link_to "Ready", "ready" %></div>
            <div class="bg-blue-300 px-2 border-white border-2 rounded-full"><%= link_to "Admin", stores_admin_path %></div>
          </div>
        </section>
      
        <section class="m-2 w-full">
          <%= turbo_stream_from 'orders' %>
          <div id="orders" class="flex flex-col w-full">
            <% @orders.each do |order| %>
              <%= render "order", order: order %>
            <% end %>
          </div>
        </section>
      </div>
    </div> 
  </div>
</div>
